<h1>Groups</h1>
<br>

<ng-container *ngIf="!groups">
    <h4>Loading group information...</h4>
</ng-container>

<ng-container *ngIf="groups">
    <div>
        <div *ngFor="let group of groups">
            <!-- add repo group according to repo group id -->
                <h3 style=" font-size:small"> Group Name: {{ group.rg_name }} </h3>
                <h3 style=" font-size:small"> Repository Group ID: {{ group.repo_group_id }} </h3>
                <h3 style=" font-size:small"> Group Description: {{ group.rg_description }} </h3>
                <h3 style=" font-size:small"> Last Modified: {{ group.rg_last_modified }}</h3>
                <br>
        </div>
    </div>
</ng-container>