<!-- Link to home page (repos) -->

<a routerLink="/" routerLinkActive ="active">Home</a>
<!-- Link to repos and repo gourps-->
<a routerLink="/repo" routerLinkActive ="active">Repositories</a>
<!-- Link to total commits -->
<a routerLink="/contributors" routerLinkActive ="active">Contributors and Pull Requests</a>
<!-- Link to proportion of commits by contributors -->
<a routerLink="/groups" routerLinkActive ="active">Groups</a>
<!-- Link to pull requests -->
<a routerLink="/pulls" routerLinkActive ="active">Pulls</a>
